@{
	ViewBag.Title = "Teknoloji Evi";
	Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="bannerarea video-play-box">
	<div id="particles-js">

	</div>
	<!-- end particle effects  -->
	<a class="player" data-property="{videoURL:'', showControls:false, autoPlay:true, zoom:0, loop:true, mute:false, startAt:0, opacity:1, quality:'medium'}"></a>

	<div class="video-overlay bg-1"></div>
	<!-- end video overlay -->
	<div class="container">
		<div class="row bn-height video-play-height align-items-center">
			<div class="col-lg-11">
				<div class="banner-content video">
					<h2 class="animation" data-animation="fadeInUp" data-animation-delay="0.6s">Bulut mimarisi ve dağıtık uygulama  <span>çözümlememizle...</span></h2>
					<div class="animation" data-animation="fadeInDown" data-animation-delay="0.6s" style="padding-top:40px;">
						<p>Global teknoloji ler ile ihtiyacınız olan tüm çözümler TEKNOPORTSOFT ile hayata geçmektedir. </p>
						<a href="@Url.Action("Index","BizeDair")" class="btn-mr th-primary2 pill">Daha Fazla</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<a href="#feature" class="scrollbottom smooth-scroll"><i class="icofont icofont-scroll-long-down"></i></a>
	<div class="mbl-1-img animation animated zoomIn" data-animation="zoomIn" data-animation-delay="0.9s" style="animation-delay: 0.9s; visibility: visible;"><img src="~/Content/assets/images/all-img/mbl1.png" alt=""></div>
</section>


<section class="about-area" id="abouts">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-md-6 col-lg-5">
				<div class="about-img"><img src="~/Content/assets/images/all-img/aboutimg.png" alt=""></div>
			</div>
			<!-- end about img -->
			<div class="col-md-6 col-lg-6 offset-lg-1 sec-titile-wrapper">
				<h2 class="section-title">Teknoportsoft nedir?</h2>
				<p>Teknoportsoft'la tanışın. Çalışmalarınızı iş yapınıza yönelik kolay yönetmek için basit, sezgisel ve güçlü bir uygulama geliştirme merkezidir. Bir sonraki neslin uygulamalarını hesaplı fiyat politikası ile keşfedin ve benzer düşünen üyelerin topluluğunun bir parçası olun.</p>
				<a href="@Url.Action("Index","BizeDair")" class="btn-mr th-primary pill">Bize Dair</a>
			</div>
			<!-- end about conetent -->
		</div>
	</div>
</section>


<section class="feature-area" id="feature">
	<div class="feature-bg-shape-1"></div>
	<!-- end feature bg shape 1 -->
	<div class="feature-bg-shape-2"></div>
	<!-- end feature bg shape 2 -->
	<div class="container">
		<div class="row">
			<div class="col-lg-8 sec-titile-wrapper white-clr">
				<h2 class="section-title">Proje Süreci</h2>
				<p>Birçok firmanın yaptığı gibi hızlı üret ve devret mantığıyla değil de isteğe yönelik mutlak çözüm odaklı projeler üretiyoruz. Paranız değerlidir ve karşılığını size sunmak için var gücümüzle çalışıyoruz. Yerinde doğru kişilerle analiz yapıp, ihtiyaçları tam olarak belirliyoruz. Özgün yapılar tasarlayarak, siz müşterilerimize farklılığı hizmet olarak sunuyoruz.</p>
			</div>
			<!-- end section-titile -->
		</div>
		<!-- end row -->
		<div class="row">
			<div class="col-lg-4 col-md-6 col-12 text-center animation" data-animation="fadeInUp" data-animation-delay="0.1s">
				<div class="single-feature">
					<div class="count-box">01</div>
					<h3><a href="#"> Kontrol ve Testler </a></h3>
					<p>Tamamlanan iş süreçlerini, zamanı iyi kullanarak her türlü güvenlik ve diğer kontrollerde test ederek sağlamlık, dayanıklılık ve devamlılık sağlıyoruz.</p>
				</div>
			</div>
			<!-- end single feature -->
			<div class="col-lg-4 col-md-6 col-12 text-center animation" data-animation="fadeInUp" data-animation-delay="0.1s">
				<div class="single-feature">
					<div class="count-box">02</div>
					<h3><a href="#">Entegrasyon</a></h3>
					<p>Tamamlanmış projeleri, siz değerli müşterilerimize teslim ederek sonraki tüm süreçleri yakından takip ediyoruz. İstek ve talepleriniz olursa hızlıca iş süreçlerinden geçirerek sistemin devamlılığını sağlıyoruz. HEDEFİMİZ; BAŞARINIZDIR.</p>
				</div>
			</div>
			<!-- end single feature -->
			<div class="col-lg-4 col-md-6 col-12 text-center animation" data-animation="fadeInUp" data-animation-delay="0.1s">
				<div class="single-feature">
					<div class="count-box">03</div>
					<h3><a href="#">Geri Dönüşüm</a></h3>
					<p>Geçerlilik hükmü veya teknolojik yeterliliğini zamana yenik düşmüş program ve projelerinizi, yeni nesil programlama teknikleriyle güncelliyor, farklı bakış açıları sağlıyor, çağın gerisinde değil, teknolojinin tüm nimetlerini sizlere sunuyoruz.</p>
				</div>
			</div>
		</div>
	</div>
</section>



<section class="testimonails-area" id="clinetssay">
	<div class="container-fluid">
		<div class="row align-items-center">
			<div class="col-lg-3 offset-lg-1 sec-titile-wrapper text-lg-left text-center">
				<h2 class="section-title">İş Süreçleri</h2>
				<p>İş süreçlerimiz aşama aşama analiz, planlama, programlama, test ve teslim olarak süreçlerden sizlere sunulmaktadır.</p>
			</div>
			<!-- end section-titile -->
			<div class="col-lg-8">
				<div class="row">
					<div class="col-12 testimonilas-active owl-carousel">
						<div class="single-testimonials">

							<i class="fas fa-chart-bar" style="font-size:70px; padding-left:105px; color:#4599ED;"></i>
							<div class="text-right testi-titleposition">
								<h4 style="text-align:center;">Analiz</h4>
								<h5 style="text-align:center;"><strong>1) </strong>Başlangıç Safhası</h5>
							</div>
							<p><strong>-</strong>Bilgi toplama</p>
							<p><strong>-</strong>Değerlendirme</p>
							<p><strong>-</strong>Akış - Diagram oluşturma</p>
							<p><strong>-</strong>Çizelge</p>

						</div>
						<div class="single-testimonials">

							<i class="far fa-newspaper" style="font-size:70px; padding-left:105px; color:#4599ED;"></i>
							<div class="text-right testi-titleposition">
								<h4 style="text-align:center;">PLANLAMA</h4>
								<h5 style="text-align:center;"><strong>2) </strong>Başlangıç Safhası</h5>
							</div>
							<p><strong>-</strong>Süreç oluşturma</p>
							<p><strong>-</strong>İş - Zaman çizelgesi</p>
							<p><strong>-</strong>Kontrol süreçleri</p>
							<p><strong>-</strong>Teslim tarihi - Talep Desteği</p>

						</div>
						<div class="single-testimonials">

							<i class="fas fa-desktop" style="font-size:70px; padding-left:105px; color:#4599ED;"></i>
							<div class="text-right testi-titleposition">
								<h4 style="text-align:center;">PROGRAMLAMA</h4>
								<h5 style="text-align:center;"><strong>3) </strong>Bitiş Safhası</h5>
							</div>
							<p><strong>-</strong>Mimari Oluşturma</p>
							<p><strong>-</strong>Geliştirme</p>
							<p><strong>-</strong>Güncelleme</p>
							<p><strong>-</strong>Final</p>

						</div>
						<div class="single-testimonials">

							<i class="fas fa-vials" style="font-size:70px; padding-left:105px; color:#4599ED;"></i>
							<div class="text-right testi-titleposition">
								<h4 style="text-align:center;">TEST VE TESLİM</h4>
								<h5 style="text-align:center;"><strong>4) </strong>Bitiş Safhası</h5>
							</div>
							<p><strong>-</strong>Test kontrol</p>
							<p><strong>-</strong>Ek istek geliştirme</p>
							<p><strong>-</strong>Nihai sonuç</p>
							<p><strong>-</strong>Ürün teslim</p>
						</div>



						<!-- end single testimonilas -->
					</div>
				</div>
			</div>
		</div>
		<!-- end row -->
	</div>
</section>



<section class="tean-area" id="team">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2 sec-titile-wrapper text-center">
				<h2 class="section-title">Soru(nu)nuz mu var?</h2>
				<p>Lorem ipsum dolor sit amet consetetur sadipscing elitr sed diam nonumy eirmod tempor invidunt labore dolore magna aliquyam erat sed diam voluptua.</p>
			</div>

			<div class="col-lg-4 col-sm-6 col-12 text-center">
				<div class="single-team-member">
					<figure class="teammember-tumb rounded-circle">
						<img src="~/Content/assets/images/all-img/ff4.png" alt="" class="rounded-circle">
					</figure>
					<h3><a href="#">Teknoportsoft ne yapar?</a></h3>
					<p><span>Mutlak çözüm odaklı öneriler sunarak, ihtiyacınızı tam olarak giderir. Size bu; zaman, tasarruf ve ek gelir olarak geri yansır.</span></p>

				</div>
			</div>
			<!-- end single team member -->
			<div class="col-lg-4 col-sm-6 col-12 text-center">
				<div class="single-team-member">
					<figure class="teammember-tumb rounded-circle">
						<img src="~/Content/assets/images/all-img/ff3.png" alt="" class="rounded-circle">
					</figure>
					<h3><a href="#">Teknoportsoft nasıl çalışır?</a></h3>
					<p><span>İş yapılsın da, nasıl yapılırsa yapsın mantığıyla değil! özveriyle, itinayla ve kendi işiymiş gibi çalışılır.</span></p>

				</div>
			</div>
			<!-- end single team member -->
			<div class="col-lg-4 col-sm-6 col-12 text-center">
				<div class="single-team-member">
					<figure class="teammember-tumb rounded-circle">
						<img src="~/Content/assets/images/all-img/ff5.png" alt="" class="rounded-circle">
					</figure>
					<h3><a href="#">Teknoportsoft nerelere hizmet sunar?</a></h3>
					<p><span>Proje ve ürünlerimizi dünya standartlarına göre hazırlar, AR-GE niteğiyle tüm ülkelerdeki kurum ve kuruluşlara hizmet sunar.</span></p>

				</div>
			</div>

		</div>
	</div>
</section>


<section class="blog-area" id="blog">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2 sec-titile-wrapper text-center">
				<h2 class="section-title">İş Geliştirme</h2>
				<p>
					Hayallerinizin de yaşayan bir canlı gibi gelişip büyüdüğünü
					unutmayın!
				</p>
			</div>
			<!-- end section-titile -->
			<div class="col-lg-4 col-md-6 col-12">
				<div class="single-blog-post">
					<figure class="blog-thumbs">
						<img src="~/Content/assets/images/all-img/webuygulama.jpg" style="height:350px; height:280px;" alt="">
					</figure>
					<div class="blog-text">

						<div class="text-center">
							<h3><a href="@Url.Action("Index","Home")">Web Uygulamalar</a></h3>
							<p>
								Bulut mimarisi ve dağıtık uygulama çözümlemizle...
								Global teknoloji ler ile ihtiyacınız olan tüm çözümler TEKNOPORTSOFT ile hayata geçmektedir.
							</p>
							<a href="@Url.Action("Index","Home")" class="btn-mr th-secondary pill">Daha Fazla</a>
						</div>
					</div>
					<!-- end blog text -->
				</div>
				<!-- end single blog post -->
			</div>
			<!-- end single blog -->
			<div class="col-lg-4 col-md-6 col-12">
				<div class="single-blog-post">
					<figure class="blog-thumbs">
						<img src="~/Content/assets/images/all-img/mobiluygulama.jpg" alt="">
					</figure>
					<div class="blog-text">

						<div class="text-center">
							<h3><a href="@Url.Action("Index","MobilDetail")">Mobil Uygulamalar</a></h3>
							<p>
								İşinize yönelik her türlü uygulama için Mobil Aplikasyonu hazırlanmaktadır.
								Tüm uygulamalarımızın asıl amacı hayatınızı kolaylaştırmaktır
								Neye ihtiyacınız var?
							</p>
							<a href="@Url.Action("Index","MobilDetail")" class="btn-mr th-secondary pill">Daha Fazla</a>
						</div>
					</div>
					<!-- end blog text -->
				</div>
				<!-- end single blog post -->
			</div>
			<!-- end single blog -->
			<div class="col-lg-4 col-md-6 col-12">
				<div class="single-blog-post">
					<figure class="blog-thumbs">
						<img src="~/Content/assets/images/all-img/masaüstüuygulama.jpg" style="height:350px; height:280px; " alt="">
					</figure>
					<div class="blog-text">

						<div class="text-center">
							<h3><a href="@Url.Action("Index","MasaustuDetail")">Masaüstü Uygulamalar</a></h3>
							<p> Neden Masaüstü Uygulama? İçeriği kapalı ve çevresel 2. parti uygulamalarla etkileşimli çalışmak için tercihiniz masaüstü uygulamalar olabilir. </p>
							<a href="@Url.Action("Index","MasaustuDetail")" class="btn-mr th-secondary pill">Daha Fazla</a>
						</div>
					</div>
					<!-- end blog text -->
				</div>
				<!-- end single blog post -->
			</div>
			<!-- end single blog -->
		</div>
	</div>
</section>



<section class="get_intocuh" id="contacts">
	<div>
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3010.239887334405!2d28.887385850266032!3d41.02000742655159!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cabae935cb4949%3A0x3aea47bcaf71a222!2sY%C4%B1ld%C4%B1z+Teknik+%C3%9Cniversitesi+Teknopark+Davutpa%C5%9Fa!5e0!3m2!1str!2str!4v1535457430329" width="100%" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
	</div>
	<!-- google map -->
	<div class="container">
		<div class="row">
			<div class="col-12 get-in-box">
				<div class="row">
					<h3 class="col-lg-9 offset-lg-1 get-title">İletişimde Kalalım!</h3>
					<div class="col-lg-3 offset-lg-1 col-md-4">
						<div class="single-get-intocuh">

							<h5><i class="icofont icofont-social-google-map"></i>Adres</h5>
							<address>
								Çifte Havuzlar mah. Eski Londra Asfaltı Cd. Kuluçka Merkezi A.1 Blok 151/1C 1B 17<br>
								Esenler-İstanbul.
							</address>
						</div>
						<!-- end single get in touch -->
					</div>
					<!-- end single get in touch -->
					<div class="col-lg-4 text-md-center col-md-4">
						<div class="single-get-intocuh border-LR">
							<h5><i class="icofont icofont-ui-call"></i>Telefon</h5>
							<address>
								Erhan GÜRBÜZ<br>
								+9(0)554 246 37 44

							</address>
						</div>
						<!-- end single get in touch -->
					</div>
					<!-- end single get in touch -->
					<div class="col-lg-3 offset-lg-1 col-md-4">
						<div class="single-get-intocuh">
							<h5><i class="icofont icofont-email"></i>E-mail</h5>
							<address>
								<a href="mailto:infoname@gmail.com">info@teknoportsoft.com</a><br>
								<a href="mailto:sajibui155@gmail.com">erhan.gurbuz@teknoportsoft.com</a>

							</address>
						</div>
						<!-- end single get in touch -->
					</div>
					<!-- end single get in touch -->
				</div>
			</div>
			<!-- end get in box -->
			<div class="col-12 get-in-form">
				<form id="form" method="post">
					@Html.AntiForgeryToken()
					<div class="form-row">
						<div class="col-md-12">
							<input type="text" class="form-control" placeholder="Ad Soyadınız" id="name">
						</div>
						<div class="col-md-6">
							<input type="tel" class="form-control" placeholder="Telefon" id="phone">
						</div>
						<div class="col-md-6">
							<input type="email" class="form-control" placeholder="E-Posta" id="email">
						</div>
						<div class="col-md-12">
							<textarea class="form-control" placeholder="Talebinizi kısaca yazınız" id="body"></textarea>
						</div>
					</div>
					<div class="text-right">
						<button id="gonder" type="button" class="btn-mr th-primary pill">Gönder</button>
					</div>
				</form>
			</div>
		</div>
	</div>

</section>

@section scripts{
	<script>
        $("#gonder").on('click', function (e) {
            
			var name = $('#name').val();
			var phone = $('#phone').val();
			var email = $('#email').val();
			var body = $('#body').val();

			if (name == "" || phone == "" || email == "" || body == "") {
				alert("Lütfen Boş Alan bırakmayınız!");
				return;
			}

			var token = $('input[name="__RequestVerificationToken"]').val();
			$.ajax({
				type: 'post',
				url: '@Url.Action("SendMail", "Home")',
				data: { __RequestVerificationToken: token, name: name, phone: phone, email: email, body: body },
				success: function (result) {
					if (result) {
						alert("Mesajınız başarı ile alınmıştır En kısa sürede sizinle irtibata geçilecektir.");
					}
				}
			});
			e.preventDefault();
		})
	</script>

}

